<div class="slider-fade">
  <img src="assets/img/slider/slides/trainings_with_pic.1.jpg" data-caption="#slide-caption1">
  <img src="assets/img/slider/slides/lecture.jpg" data-caption="#slide-caption2">
  <img src="assets/img/slider/slides/students.jpg" data-caption="#slide-caption3">
  <img src="assets/img/slider/slides/profiler.jpg" data-caption="#slide-caption4">
  <img src="assets/img/slider/slides/courses.jpg"  data-caption="#slide-caption5">
</div>
<div id="slide-caption1" class="slider-captionelement">
  <h3>Over 60 trainings all over Europe for universities and industry</h3>
</div>
<div id="slide-caption2" class="slider-captionelement">
  <h3>On-site trainings on the whole range of GPU computing technologies</h3>
</div>
<div id="slide-caption3" class="slider-captionelement">
  <h3>Each lecture accompanied with a practical session on our remote GPU cluster</h3>
</div>
<div id="slide-caption4" class="slider-captionelement">
  <h3>Best recipes of GPU code optimization, based on our 5-year development experience</h3>
</div>
<div id="slide-caption5" class="slider-captionelement">
  <h3>We have multiple training programs and even books! Check out our courses catalogue</h3>
</div>
